# {{ ansible_managed }}
DISKWATCH_FREE_ALERT_PCT={{ diskwatch_free_alert_pct }}
DISKWATCH_GROWTH_ALERT_GB={{ diskwatch_growth_alert_gb }}
DISKWATCH_EXCLUDE="{{ diskwatch_exclude }}"
DISKWATCH_NOTIFY_CMD="{{ diskwatch_notify_cmd }}"
